.day {
    background-color: rgba(235, 228, 220, 0.522);
    height: max-content;
    padding: 20px;
}

.night {
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    height: max-content;
    padding: 20px;
}