.wraper {
    margin: 0 auto;
    width: 400px;
    background-color: rgba(85, 181, 255, 0.247);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .email {
        margin: 15px;
    }

    .pass {
        margin: 15px;
    }

    .btn {
        margin: 15px;
    }
}