.button-burger {

    .btn-line-one {
        width: 40px;
        height: 6px;
        margin: 5px;
        border-radius: 5px;
        background-color: #333;
        transition: 0.5s;
        // transform: rotate(0deg) translate(0px, 0px);
    }

    .btn-line-two {
        width: 40px;
        height: 6px;
        margin: 5px;
        border-radius: 5px;
        background-color: #333;
        // transition: 0.1s ease-in-out;
        opacity: 1;
        transition-delay: 0.250s;
    }

    .btn-line-three {
        width: 40px;
        height: 6px;
        margin: 5px;
        border-radius: 5px;
        background-color: #333;
        transition: 0.5s;
        // transform: rotate(0deg) translate(0px, 0px);
    }


}

.open {
    .btn-line-one {
        transform: rotate(45deg) translate(6px, 10px);
    }

    .btn-line-two {
        opacity: 0;
        transition-delay: 0s;
    }

    .btn-line-three {
        transform: rotate(-45deg) translate(6px, -10px);
    }
}